.char-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    grid-gap: 2em;
    justify-content: center;
}

.card-pair {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

@media screen and (min-width: 1000px) {
    .char-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 375px));
        padding: 0 10em; 
    }
}

@media screen and (min-width: 1000px) {
    .char-container {
        padding: 0 15em; 
    }
}