.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text);
    background-color: var(--bg-secondary);
    border-radius: .25em;
}

.card:hover {
}

.card-img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-container {
    width: 100%;
    padding-top: 150%;
    overflow: hidden;
    position: relative;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
}

.card-title {
    font-size: 1rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.card-score {
    color: var(--accent);
}

.card-popularity {

}

@media screen and (max-width: 600px) {
    .card-title {
        /* font-size: .75rem; */
    }
}

