.card {
    margin: 1em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text);
    background-color: var(--bg);
    transition: outline-width .05s linear;
}

.card:hover {
    outline: 5px solid var(--accent);
}

.card-img {

}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: .75em;
}

.card-title {
    font-size: 1rem;
    padding: .75em;
}

.card-score {
    color: var(--accent);
}

.card-popularity {

}