.anime-page {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.primary-content {
    margin: .75em 0 .75em 0;
    display: flex;
    justify-content: center;
}

.title {
    padding-bottom: .25em;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: wrap;
}

.title::after {
    content: '';
    position: absolute;
    background-color: var(--accent);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
}

.large-screen {
    display: none;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.cover-img {
    width: 90%;
    height: auto;
    max-height: 450px;
    max-width: 300px;
}

.content-body {
    display: flex;
    flex-direction: column;
}

.show-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.show-info {
    margin-bottom: 1em;
}

.info-title {
    font-size: .8rem;
    font-weight: 400;
}

.info {
    font-size: .85rem;
}
 
.anime-genre {
    text-decoration: none;
    margin-right: .5em;
    color: var(--accent);
}

.anime-genre:hover {
    color: inherit;
}

.standard-link {
    text-decoration: none;
    color: inherit;
}

.standard-link:hover {
    color: var(--accent);
}

.description {
    font-size: .8rem;
    overflow-y: hidden;
}

.description-large {
    max-width:700px;
    margin-left: 1em;
    margin-top: .5em;
    font-size: .8rem;
    overflow: hidden;
}

.section-title {
    margin-left: 1em;
    margin-top: 1em;
    font-weight: 600;
    position: relative;
    text-decoration: underline;
}

.addButton {
    color: white;
    background-color: #793AFF;
    height: 2em;
    border-radius: .25em;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-top: 1em;
}

.addButton:hover {
    color: black;
}

.show-more {
    max-height: 10ch;
}

@media screen and (min-width: 700px) {
    .info {
        font-size: 1rem;
    }
   .small-screen {
       display: none;
   }
   .large-screen {
       display: block;
   }
   .show-stats {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 700px;
        justify-content: flex-start;
        margin-top: 1em;
        margin-left: 1em;
   }
   .show-info {
       margin-right: 2em;
   }
   .description-large {
       font-size: 1rem;
   }
}

.secondary-content {
    margin-top: 1em;
}

.selection-bar {
    display: flex;
    justify-content: center;
}

.selection-bar > * {
    margin: 0 2em;
}

@media screen and (min-width: 900px) {
    .selection-bar > * {
        margin: 0 5em;
    }
}