.contentWrapper {
    justify-content: center;
    position: relative;
    padding: 6em;
    display: flex;
}

.title {
    padding: 2em;
    width: max-content;
}

.coverImg {
    right: 20em;

}

.rating {
    width: 20ch;
}

.mainText {
    margin-top: 1em;
    width: 50ch;
    font-weight: 400;
}

.contentBody {
    max-width: 100ch;
}

.contentImg {
    margin-left: 2em;
}

