.menu-item {
    cursor: pointer;
}

.menu-item:hover {
    color: #793AFF;
}

.inputWrap {
    cursor: pointer;
    justify-content: space-between;
}

.selected {
    color: var(--accent) !important;
}

.x {
    cursor: pointer;
    align-self: center;
}

.x:hover {
    color: #793AFF;
}