*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.logo{
    color: #793AFF;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    margin-left: 1em;
}

.nav-links{
    display: none;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}

.link {
    text-decoration: none;
    padding: .5em;
    margin: .2em;
    width: 100%;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 1px;
    width: 100%;
    left: -.2em;
    bottom: -.2em;
    overflow: hidden;
}

.link:hover {
    color: #793AFF;
}  


.themeButton {
    background: #793AFF;
    font-size: 1rem;
    color: white;
    border: none;
    width: 7em;
    border-radius: 5px;
}   

.burger {
    margin-right: 1em;
    font-size: 1.5rem;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 700px) {
    .nav-links {
        display: flex
    }

    .link {
        width: max-content;
    }

    .link::after {
        display: none;
    }

    .burger {
        display: none;
    }
}
