*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.67) 100%);
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.logo{
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
}

.link:hover {
    color: lightskyblue;
}

@media screen and (max-width:1500px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%)
    }
}