.active {
    color: var(--accent);
}

.header {
    align-self: flex-start;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
}


.logo{
    color: var(--accent);
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    margin-left: 1em;
}

.nav-links{
    display: none;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
    font-weight: 400;
}

.link {
    color: var(--text);
    text-decoration: none;
    padding: .5em;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.link::after {
    content: '';
    position: absolute;
    background-color: var(--text);
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.link:hover {
    color: var(--accent);
}  

.theme-toggle {
    font-size: 1.25rem;
    margin-right: .5em;
    cursor: pointer;
} 

.theme-toggle:hover {
    color: var(--accent);
}

.mobile-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-link {
    display: none;
    align-items: center;
}

.avatar {
    height: auto;
    width: 2em;
    margin-right: 1rem;
}

.burger {
    margin-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.burger:hover {
    color: var(--accent);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 500px) {
    .burger, .avatar {
        margin-right: 1.5rem;
    }

    .user-link {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .nav-links {
        display: flex
    }

    .link {
        width: max-content;
        margin-right: 1.75em;
    }

    .avatar {
        margin-right: 1.75em;
    }

    .link::after {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}

@media screen and (min-width: 1200px) {
    .link {
        margin-right: 3em;
    }
    
    .avatar {
        margin-right: 3em;
    }

    .theme-toggle {
        margin-right: 3em;
    }

    .logo {
        margin-left: 3em;
    }
}
