*{
    font-family: 'Montserrat', sans-serif;
}

.searchTitle {
    color: #793AFF;
    text-decoration: none;
    max-width: 50ch;
    margin-left: 5em;
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.searchWrapper {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.search::before {
    content: '';
    position: absolute;
    background: black;
    height: 1px;
    width: 105%;
    top: -2em;
}