*{
    font-family: 'Montserrat', sans-serif;
}

.searchWrapper {
    display: flex;
    justify-content: center;
    padding: 2.5em;
}

.searchResult {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.searchResult::before {
    content: '';
    position: absolute;
    background: black;
    height: 1px;
    width: 100%;
    top: -2em;
}

.searchResult.dark::before {
    background: #793AFF;
}

.searchImage {
    height: auto;
    width: 10em;
}

.searchTitle {
    text-decoration: none;
    max-width: 50ch;
    height: max-content;
    flex: 2;
    line-height: 1;
}

/* .title:hover {
    color: #793AFF;
} */

.searchTitle.dark {
    color: white;
}

.searchHeader {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: left;
    flex-direction: column;
}

.stats {
    flex: 1;
    text-align: center;
    height: max-content;
    margin-left: 1em;
    white-space: nowrap;
    line-height: 1.5em;
}

.subhead {
    font-size: 1.2rem;
}
.searchBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5em;
    justify-content: space-between;
}

/* .description {
    max-height: 10em;
    overflow-y: hidden;
    text-overflow: ellipsis;
} */

.addButton {
    color: white;
    background-color: #793AFF;
    height: 3em;
    font-size: 1.25rem;
    border-radius: .25em;
    min-width: 10em;
    border: none;
    cursor: pointer;
}

.top {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

.genre {
    text-decoration: none;
    color: #793AFF;
    font-size: 1.5rem;
    margin-left: .75em;
    margin-right: .75em;
}

.genre:hover {
    color: white;
}