.search-result {
    display: flex;
    padding: 1em 0;
    text-decoration: none;
    color: inherit;
}
.search-result:hover {
    color: var(--accent);
    border: 3px solid var(--accent);
    margin: -3px;
}
.result-img {
    height: 150px;
    width: 100px;
}

