.searchPage {
    height: 100vh;
    padding-left: 10em;
    padding-right: 10em;
}

.mainContainer {
    padding-left: 10em;
    padding-right: 10em;
   
}

.filtersWrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.filterContainer {
    display: flex;
    padding: 2.5em;
    width: max-content;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filterTitle {
    padding: .5em 0;
    font-size: 1.5rem;
}

.inputWrap {
    padding: .75em;
    border-radius: .5em;
}

.inputWrap.light {
    background-color: rgb(212, 212, 212);
}
.inputWrap.dark {
    background-color: rgb(44, 44, 44);
}

.searchBar, .selection {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    width: 10em;
    color: inherit;
}

.searchBar:focus, .selection:focus {
    outline: none;
}

