.searchPage {
    height: 100vh;
}

.searchBar > * {
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    height: 2.5em;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em;
}