*{
    box-sizing:border-box;
}

.container {
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    background-color: transparent;
}

.listTitle {
    margin-left: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 600;
    font-size: 1.7rem;
}

.listTitle.dark {
    color:white;
}

.listTitle:hover {
    color: #793AFF;
}

.cardList {
    display: flex;
    place-items: center;
    line-height: 1.2;
    background: transparent;
    text-align: horizontal;
    overflow-x: hidden;
    overflow-y: hidden;
}   

