*{
    box-sizing:border-box;
}

.container {
    display: flex;
    padding: 0 10em;
    flex-direction: column;
}

.listTitle {
    margin-left: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 600;
    font-size: 1.7rem;
}

.listTitle.dark {
    color:white;
}

.listTitle:hover {
    color: #793AFF;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
}   

