* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --dark0: #23252B;
    --dark1: rgb(19, 19, 19);
    --dark2: rgb(29, 29, 34);
    --light0: white;
    --light1: #f8f8f8;
    --light2: #edeef1;
    --accent0: #793AFF;
}

.dark {
    --bg: var(--dark1);
    --bg-secondary: var(--dark0);
    --text: var(--light0);
    --textalt: var(--light2);
    --accent: var(--accent0);
    --gradient-light: var(--dark2);
    --gradient-dark: var(--dark0);
}

.light {
    --bg: var(--light1);
    --bg-secondary: var(--light0);
    --text: var(--dark0);
    --textalt: var(--dark2);
    --accent: var(--accent0);
    --gradient-light: var(--light1);
    --gradient-dark: var(--light2);
}

.App {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

