* {
    overflow-x: hidden;
}

:root {
    --dark0: black;
    --light0: white;
    --accent0: #793AFF;
}

.dark {
    --bg: var(--dark0);
    --text: var(--light0);
    --accent: var(--accent0);
}

.light {
    --bg: var(--light);
    --text: var(--dark0);
    --accent: var(--accent0);
}

.App {
    background-color: var(--bg);
    color: var(--text);
}